{% extends 'default/base.html.twig' %}
{% block content %}
<div class="main wrapper clearfix">
    <section>
        <form id="form-images" name="form-images" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-item-wrapper first-item">
                <input type="file" name="field-images[]" id="field-images" title="Choose images or upload a zip file with images">
            </div>
            <div class="form-item-wrapper">
                <button name="field-submit">Apply filters</button>
            </div>
        </form>
    </section>

    <aside>
        <h3>Текущие фильтры</h3>
        <div id="image-preview"></div>
    </aside>
</div>
{% endblock %}