{% extends 'default/base.html.twig' %}
{% block content %}
<div class="main wrapper clearfix">
    <div id="filters-container">
        <form name="filters"  name="form-images" action="/upload" method="post" enctype="multipart/form-data">
            <div id="brightness-wrapper" class="filter-item">
                <label for="brightness">Яркость:</label>
                <span id="brightness-counter">0</span>
                <div id="brightness-range">
                    <div id="brightness" style="position: relative; left: 100px; top: 0;"></div>
                </div>
                <input name="brightness" type="hidden">
            </div>

            <div id="contrast-wrapper" class="filter-item">
                <label for="contrast">Контрастность:</label>
                <span id="contrast-counter">0</span>
                <div id="contrast-range">
                    <div id="contrast" style="position: relative; left: 100px; top: 0;"></div>
                </div>
                <input name="contrast" type="hidden">
            </div>

            <div id="resize-to-height-wrapper" class="filter-item">
                <label for="resize-to-height">Высота</label><input name="resize-to-height" id="resize-to-height" type="text" maxlength="5" size="5" value="0">
            </div>

            <div id="resize-to-width-wrapper" class="filter-item">
                <label for="resize-to-width">Ширина</label><input name="resize-to-width" id="resize-to-width" type="text" maxlength="5" size="5" value="0">
            </div>

            <div id="rotate-wrapper" class="filter-item">
                <label for="rotate">Угол вращения</label><input id="rotate" name="rotate" type="text" maxlength="5" size="5" value="0">
            </div>

            <div id="flip-wrapper" class="filter-item">
                <label for="flip">Отразить</label><select name="flip" id="flip">
                    <option value="n">Нет</option>
                    <option value="h">Горизонталь</option>
                    <option value="v">Вертикаль</option>
                    <option value="b">Оба варианта</option>
                </select>
            </div>

            <div id="grey-wrapper" class="filter-item">
                <label for="grey">Обесцветить</label><input type="checkbox" name="grey" id="grey">
            </div>

            <div id="reverse-wrapper" class="filter-item">
                <label for="grey">Реверс цветов</label><input type="checkbox" name="reverse" id="reverse">
            </div>

            <div id="blur-wrapper" class="filter-item">
                <label for="grey">Размытие по Гауссу</label><input type="checkbox" name="blur" id="blur">
            </div>

            <div class="button-wrapper">
                <button name="preview-button">Preview</button>
            </div>

            <div class="button-wrapper">
                <input type="file" name="field-images[]" id="field-images" title="Choose images or upload a zip file with images">
            </div>
            <div class="button-wrapper">
                <button name="field-submit">Apply filters</button>
            </div>
        </form>
    </div>

    <aside>
        <h3>Предпросмотр</h3>
        <div id="preview">
            <img src="/img/preview.jpg" alt="" width="300">
        </div>
    </aside>
</div>
{% endblock %}