<!DOCTYPE html>
<html class="no-js">
{% block head %}
    {% include 'head.html.twig' %}
{% endblock %}
<body>

<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">h1.title</h1>
        {% block menu %}
            {% include 'navigation.html.twig' %}
        {% endblock %}
    </header>
</div>

{% block content %}
{% endblock %}

<div class="footer-container">
    <footer class="wrapper">
        <h3>©Anton Kuzmenko</h3>
    </footer>
</div>

{% block javascript %}
    {% include 'javascript.html.twig' %}
{% endblock %}

</body>
</html>